.divider:after, .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.btn-signup{
    background: transparent;
    border: none;
}

.button{
    margin: 3px;
    border-radius: 10px;
    padding: 3% 20%;
    background: transparent;
    box-shadow: 2px 0 gray;
    color: blue;
}

.button:hover{
    background-color: rgb(218, 239, 255);
}